body {
    margin: 0;
    padding: 0;
    border: 15px solid #009900;
}

#game-screen {
    display: block;
}

#gameOver , #playHUD , #menuDisplay, #levelDisplay{
    position: absolute;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6  {
    font-family: 'Sigmar One', cursive;
    color: whitesmoke;
    text-align: center;
}

.title {
    font-size: 63px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartbutton, #playButton, #easy, #medium, #hard{
    border:  2px solid white;
    border-radius: 10px;
}

#restartbutton:hover {
    background-color: #009900;
}

#playButton:hover {
    background-color: #009900;
}

#easy:hover {
    background-color: #009900;
}

#medium:hover {
    background-color: #009900;
}

#hard:hover {
    background-color: #009900;
}

#scoreboard {
    margin: 0px;
}